<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Elevated API</title>
    <meta name="description" content="Elevate is a versatile Discord bot with moderation, music, welcome messages, and more!">
    <meta name="theme-color" content="#003F87">
    <meta property="og:image" content="assets/img/logo.png">
    <meta content="assets/img/logo.png" property="og:image">
    <meta name="keywords" content="Elevate, discord, discord bot, bot, discord moderation, moderation, moderation bot, discord moderation bot, discord fun bot, server, invite, tickets, ticket bot, reaction roles bot, discord reaction roles, discord react roles bot, discord react roles, react roles bot, meme api, api, discord meme api, imgen api, image generation api, discord bot api, fun api">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="http://elevatebot.xyz/assets/css/styles.css">
</head>

<body style="background-color: #003F87; font-family: Quicksand; color:white; max-width: 100%;">
    <!--    Made by Erik Terwan, modified by Teddy Rasmussen    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a href="https://elevatebot.xyz"><li>Home</li></a>
        <a href="https://discord.com/oauth2/authorize?client_id=763851389403136020&permissions=268823638&scope=bot"><li>Invite</li></a>
        <a href="https://elevatebot.xyz/privacy/"><li>Privacy Policy</li></a>
      </ul>
    </div>
  </nav>

        <section style="text-align: center;">
        <img src="https://i.imgur.com/NBYwUrI.png", style="width: 20%; border-radius: 50%;">
        <h1 style="font-size: 65px;margin-top: 45px; text-align: center; font-family: Quicksand;">
            Elevated API
        </h1>
        <h1 style="font-size: 55px; margin-top: 30px; text-align: center; font-family: Quicksand;">
            The only API discord bot devs will ever need.
        </h1>
        <div style="font-family: Quicksand;">
            {% if user.is_authenticated %}
            <button style="width: 20%; text-align: center; height: 80px; font-size: xx-large; background-color :rgb(65,66,75); border-radius: 5px;"><a href="http://144.172.83.105:8000/dashboard" style="color: white; font-family: Quicksand;">Start Now</a></button>

            {% else %}
            <button style="width: 20%; text-align: center; height: 80px; font-size: xx-large; background-color :rgb(65,66,75); border-radius: 5px;"><a href="http://144.172.83.105:8000/accounts/discord/login/?process=login" style="color: white; font-family: Quicksand;">Start Now</a></button>
            {% endif %}
        </div>
        <section>
            <div style="font-family: Quicksand, sans-serif;padding-right: 0px;padding-left: 0px;max-width: 100%;margin-top: 15px;">
                <h1 style="font-size: 60px;">
                    Features
                </h1>
                <section>
                    <p>- Global ban list</p>
                    <p>- Memes</p>
                    <p>- Reddit</p>
                    <p>- Image generation</p>
                    <p>and more!</p>
                </section>
            </div>
        </section>
        <footer style="background-color: dodgerblue;">
            
            <div style="text-align: center; border-bottom: white; border-bottom-style: solid; border-bottom-width: 1px;">
                <h2>Elevated API</h2>
                <h3 style="padding-bottom: 20px;">Made with <strong><a href="https://djangoproject.com">Django</a></strong>, <strong><a href="https://pillow.readthedocs.io/en/stable/">Pillow</a></strong>, and love.</h3>
            </div>
        </footer>


<script src="https://x83wrdpljr2c.statuspage.io/embed/script.js"></script>

</body>
<script src="https://x83wrdpljr2c.statuspage.io/embed/script.js"></script>

</html>